---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ContentBlock from '../components/ContentBlock.astro'; // <-- ¡Importamos el nuevo componente!
import Footer from '../components/Footer.astro';
import Testimonios from '../components/Testimonios.astro';
import Servicios from '../components/Servicios.astro';
import Contacto from '../components/Contacto.astro';
---
<Layout 
	title="Asesoria patrimonial y seguros - AGS y GDL" 
	description="Asesoría honesta y directa de un experto local en quien puedes confiar."
>
    <Header />
	<main>
		<Hero />
		<ContentBlock />  {/* <-- ¡Y lo usamos aquí! */}
		<Servicios />
		<Testimonios />
		<Contacto />
	</main>
    <Footer />
</Layout>