---
interface Props {
	title: string;
	description: string;
}
const { title = 'Asesor de Seguros', description = 'Protegiendo tu futuro.' } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--azul-vibrante: #023fc2;
		--dorado-acento: #fad962;
		--gris-oscuro: #111111;
		--blanco-puro: #ffffff;
	}
	html {
		font-family: 'Poppins', sans-serif;
		background-color: var(--blanco-puro);
	}
	body {
		margin: 0;
		font-size: 18px;
		color: var(--gris-oscuro);
	}
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
</style>